.total {
  display: flex;
  background-color: white;
  max-height: 667px;
}

.divForm {
  padding-right: 4rem;
  padding-left: 1.5rem;
}

.logo {
  background-color: white;
  display: flex;
  text-align: center;
  padding-bottom: 3rem;
  padding: 0.6rem;
  padding-top: 1.5rem;
}

img {
  height: 1.6rem;
}

h1 {
  font-size: 15px;
  font-size: bold;
  font-family: 'Times New Roman';
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  font-family: 'Times New Roman';
  font-size: 2rem;
  padding-bottom: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: white;
}

button {
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  background-color: red;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(221, 2, 2);
}

.saveData {
  background-color: #3eabcf;
}

.saveData:hover {
  background-color: #328fad;
}

/* table */

.table {
  background-color: #deeaf0;
  padding-top: 7.6rem;
}

.search {
  text-align: center;
}

table {
  background-color: #ecf1f3;
  width: 80%;
  padding: 0.5rem 1.2rem;
  margin: 0.5rem 3.2rem;
  margin-top: 1.8rem;
}

.tableDiv {
  margin-right: 2rem;
  margin-top: -1.8rem;
  color: white;
}

/* responsiveness */

@media screen and (max-width: 750px) {
  .total {
    flex-direction: column;
    min-width: 500px;
    margin: 0;
  }
  .divForm {
    margin: 0;
  }
  .table {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .total {
    min-width: 450px;
  }
}

@media screen and (max-width: 470px) {
  .total {
    min-width: 380px;
  }
}

@media screen and (max-width: 400px) {
  .total {
    min-width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .total {
    min-width: 200px;
  }
}
