.total {
  display: flex;
  justify-content: space-between;
  background-color: white;
  min-height: 550px;
  height: auto;
  min-width: 700px;
  width: auto;
}

.divForm {
  margin-left: 1.5rem;
}

.logo {
  display: flex;
  text-align: center;
  padding-bottom: 3rem;
  margin: 0.6rem;
  margin-top: 2rem;
}

img {
  height: 1.6rem;
}

h1 {
  font-size: 15px;
  font-size: bold;
  font-family: 'Times New Roman';
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  font-family: 'Times New Roman';
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: white;
}

button {
  padding: .7rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: .9rem;
  background-color: red;
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(221, 2, 2);
}

.saveData {
  background-color: #3eabcf;
}

.saveData:hover {
  background-color: #328fad;
}


/* table */

.table {
  margin-top: 7.6rem;
}

.search {
  text-align: center;
}

table {
  width: 80%;
  padding: .5rem 1.2rem;
  margin: 0.5rem 3.2rem;
  margin-top: 1.8rem;
}

.tableDiv {
  margin-right: 2.3rem;
  margin-top: -1.8rem;
  color: white;
}

/* responsiveness */

@media screen {
  
}