* {
}

.total {
  border-radius: 20px;
  display: grid;
  background-color: white;
  height: auto;
  width: 500px;
}

form {
  text-align: center;
  padding: 1rem;
}

.search {
  background-color: white;
  text-align: center;
}

table {
  width: 80%;
  padding: 1rem 1rem;
  margin: .5rem 3.2rem 4rem;
}

form {
  background-color: white;
}

.logo {
  display: flex;
  text-align: center;
  padding-bottom: 3rem;
  margin: .6rem;
}

img {
  height: 2rem;
}

h1 {
  font-size: 20px;
  font-family: monospace;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: .7rem;
  font-family:'Times New Roman';
  font-size: 2rem;
  margin-bottom: 2.5rem;
}